{% extends "base.html" %}

{% block content %}
{% include "analysis_otrs/customers/menu.html" %}

<div class="card">
    <div class="card-header">
        {% if current_date %}
        <div class="row">
            <div class="col text-center">
                <div class="alert alert-success">
                    Datos actualizados a la fecha: {{ current_date }}
                </div>
            </div>

            <div class="col-2">
                <a 
                    {% if current_month %}
                    href="{{ request.url }}&refresh_month=1" 
                    {% elif current_year %}
                    href="{{ request.url }}&refresh_year=1" 
                    {% elif current_customer %}
                    href="{{ request.url }}&refresh_customer=1" 
                    {% elif current_queue %}
                    href="{{ request.url }}&refresh_queue=1" 
                    {% endif %}
                    class="btn btn-success">
                    Actualizar Datos
                </a> 
            </div>
        </div>
        {% endif %}
        {% if page.title %}
        <div class="p-3 bg-light rounded text-center">
            <h3 class="text-muted">{{ page.title }}</h3>
        </div>
        {% endif %}
        <!-- Clientes activos -->
        {% if customers_actives %}
        <div class="row p-1">
            <div class="col">
                {% for customer in customers_actives %}
                <a id="menuCustomer{{ customer[0] }}"
                    title="Ver el detalle del cliente"
                    class="btn btn-sm btn-outline-primary"
                    href="{{ config.URL }}/analysis_otrs?queue={{ current_queue }}&customer={{ customer[0] }}">
                    {{ customer[1]["search"]["name"] }}={{ customer[1]["total"] }}
                </a>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if data_total_year %}
        <div class="row p-1">
            <div class="col">
                {% for year in data_total_year %}
                <a id="menuCustomerYear{{ year }}"
                    title="Ver el detalle del cliente en el año"
                    class="btn btn-sm btn-outline-primary"
                    href="{{ config.URL }}/analysis_otrs?queue={{ current_queue }}&customer={{ current_customer }}&year={{ year }}">
                    {{ year }}={{ data_total_year[year]}}
                </a>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if data_total_month %}
        <div class="row p-1">
            <div class="col">
                {% for month in data_total_month %}
                <a id="menuCustomerYearMonth{{ month }}"
                    title="Ver el detalle del cliente en el mes del año"
                    class="btn btn-sm btn-outline-primary"
                    href="{{ config.URL }}/analysis_otrs?queue={{ current_queue }}&customer={{ current_customer }}&year={{ current_year }}&month={{ month }}">
                    {{ month }}={{ data_total_month[month] }}
                </a>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if data_total_day %}
        <div class="row p-1">
            <div class="col">
                {% for day in data_total_day %}
                <a class="btn btn-sm btn-secondary">
                    {{ day }}={{ data_total_day[day] }}
                </a>
                {% endfor %}
            </div>
        </div>
        {% endif %}

    </div>
    <div class="card-body">
        <div class="table-responsive">

            <!-- VISTA POR LOS TICKETS DEL AÑO -->
            {% if data_grah_general %}
            <div>
                <figure class="highcharts-figure">
                    <div id="container_tickets_customers"></div>
                </figure>
            </div>
            <div class="accordion" id="accordionOne">
                {% if data_grah_general.dict_year_total %}
                <div class="p-3 mt-4 mb-4 rounded text-center">
                    <h5 class="text-muted">Ver detalle</h5>
                </div>
                {% set data_one = data_grah_general.dict_year_total %}
                {% for year in data_one %}
                <div id="heading{{ year }}">
                    <p class="text-center">
                        <button 
                            class="btn btn-primary"
                            type="button" 
                            title="Ver el detalle del año"
                            data-toggle="collapse" 
                            data-target="#collapse{{ year }}" 
                            aria-expanded="false" 
                            aria-controls="#collapse{{ year }}">
                            {{ year }}
                        </button>
                    </p>
                </div>
                <div 
                    id="collapse{{ year }}" 
                    class="collapse" 
                    aria-labelledby="heading{{ year }}" 
                    data-parent="#accordionOne">
                    <div>
                        <figure class="highcharts-figure">
                            <div id="total_year_{{ year }}"></div>
                        </figure>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
            {% endif %}

            {% if data_grah_services %}
            <div class="p-3 mt-4 mb-4 bg-light rounded text-center">
                <h4 class="text-muted">Vista por servicio</h4>
            </div>
            <div>
                <figure class="highcharts-figure">
                    <div id="container_tickets_customers_services"></div>
                </figure>
            </div>

            <div class="accordion" id="accordionService">
                {% if data_grah_date_services %}
                <div class="p-3 mt-4 mb-4 rounded text-center">
                    <h5 class="text-muted">Ver detalle de los servicios</h5>
                </div>
                {% for date in data_grah_date_services %}
                <div id="headingService{{ date }}">
                    <p class="text-center">
                        <button 
                            class="btn btn-primary"
                            type="button" 
                            title="Ver el detalle"
                            data-toggle="collapse" 
                            data-target="#collapseService{{ date }}" 
                            aria-expanded="false" 
                            aria-controls="#collapseService{{ date }}">
                            {{ date }}
                        </button>
                    </p>
                </div>
                <div 
                    id="collapseService{{ date }}" 
                    class="collapse" 
                    aria-labelledby="headingService{{ date }}" 
                    data-parent="#accordionService">
                    <div>
                        <figure class="highcharts-figure">
                            <div id="total_date_Service{{ date }}"></div>
                        </figure>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
            {% endif %}

            {% if data_grah_users %}
            <div class="p-3 mt-4 mb-4 bg-light rounded text-center">
                <h4 class="text-muted">Vista por usuarios</h4>
            </div>
            <div>
                <figure class="highcharts-figure">
                    <div id="container_tickets_users_customers"></div>
                </figure>
            </div>
            <div class="accordion" id="accordionCustomer">
                {% if data_grah_date_users %}
                <div class="p-3 mt-4 mb-4 rounded text-center">
                    <h5 class="text-muted">Ver detalle de los usuarios</h5>
                </div>
                {% for date in data_grah_date_users %}
                <div id="headingCustomer{{ date }}">
                    <p class="text-center">
                        <button 
                            class="btn btn-primary"
                            type="button" 
                            title="Ver el detalle"
                            data-toggle="collapse" 
                            data-target="#collapseCustomer{{ date }}" 
                            aria-expanded="false" 
                            aria-controls="#collapseCustomer{{ date }}">
                            {{ date }}
                        </button>
                    </p>
                </div>
                <div 
                    id="collapseCustomer{{ date }}" 
                    class="collapse" 
                    aria-labelledby="headingCustomer{{ date }}" 
                    data-parent="#accordionCustomer">
                    <div>
                        <figure class="highcharts-figure">
                            <div id="total_date_Users{{ date }}"></div>
                        </figure>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
            {% endif %}
            
            {% if data_total_table_year or data_total_table_month or data_total_table_day %}
            <hr>
            <table class="table table-bordered table-hover display text-center align-middle" style="width:100%">
                <thead class="bg-light">
                    <tr>
                        <th style="width: 50px;">
                            {% if data_total_table_year %}
                            Año
                            {% elif data_total_table_month %}
                            Mes
                            {% elif data_total_table_day %}
                            Día
                            {% endif %}
                        </th>
                        <th style="width: 50px;">Total</th>
                        <th style="width: 50px;"></th>
                    </tr>
                </thead>
                <tbody>
                    {% if data_total_table_year %}
                    {% set data = data_total_table_year %}
                    {% elif data_total_table_month %}
                    {% set data = data_total_table_month %}
                    {% elif data_total_table_day %}
                    {% set data = data_total_table_day %}
                    {% endif %}
                    {% for dato in data %}
                    <tr>
                        <td>
                            {{ dato }}
                        </td>
                        <td>
                            {{ data[dato] }}
                        </td>
                        <td>
                            {% if current_month %}
                            <a
                                role="button"
                                title="Ver detalle de los tickets"
                                class="btn btn-sm btn-primary"
                                href="{{ config.URL }}/analysis_otrs?queue={{ current_queue }}&customer={{ current_customer }}&year={{ current_year }}&month={{ current_month }}&table_day={{ dato }}">
                                Ver
                            </a>
                            {% elif current_year %}
                            <a
                                role="button"
                                title="Ver detalle de los tickets"
                                class="btn btn-sm btn-primary"
                                href="{{ config.URL }}/analysis_otrs?queue={{ current_queue }}&customer={{ current_customer }}&year={{ current_year }}&table_month={{ dato }}">
                                Ver
                            </a>
                            {% else %}
                            <a
                                role="button"
                                title="Ver detalle de los tickets"
                                class="btn btn-sm btn-primary"
                                href="{{ config.URL }}/analysis_otrs?queue={{ current_queue }}&customer={{ current_customer }}&table_year={{ dato }}">
                                Ver
                            </a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $("#menuOTRSCustomers").addClass("active");
        $("#menuQueue{{ current_queue }}").addClass("active");
        $("#menuCustomer{{ current_customer }}").addClass("active");
        $("#menuCustomerYear{{ current_year }}").addClass("active");
        $("#menuCustomerYearMonth{{ current_month }}").addClass("active");           
    });
</script>

{% if data_grah_general %}
<script type="text/javascript">
    Highcharts.chart('container_tickets_customers', {
        chart: {
            type: 'column'
        },
        {% if current_month %}
        title: {
            text: 'Se gestionaron {{ data_grah_general.total_tickets | safe }} tickets para el cliente {{ data_grah_general.customer_name | safe  }} en el mes de {{ current_month }}.',
            align: 'center'
        },
        {% elif current_year %}
        title: {
            text: 'Se gestionaron {{ data_grah_general.total_tickets | safe }} tickets para el cliente {{ data_grah_general.customer_name | safe  }} en el año {{ current_year }}.',
            align: 'center'
        },
        {% elif current_customer %}
        title: {
            text: 'Se gestionaron {{ data_grah_general.total_tickets | safe }} tickets para el cliente {{ data_grah_general.customer_name }}',
            align: 'center'
        },
        {% elif current_queue == "administrators" %}
        title: {
            text: 'Han sido generados {{ data_grah_general.total_tickets | safe }} tickets por los clientes de AS para ser atendidos por los Administradores.',
            align: 'center'
        },
        {% elif current_queue == "analysts" %}
        title: {
            text: 'Han sido generados {{ data_grah_general.total_tickets | safe }} tickets por los clientes de AS para ser atendidos por los Analistas.',
            align: 'center'
        },
        {% else %}
        title: {
            text: '',
            align: 'center'
        },
        {% endif %}
        xAxis: {
            categories: {{ data_grah_general.data_grah_x | safe }},
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Número de tickets'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.0f}</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
            pointPadding: 0.2,
            borderWidth: 0
            }
        },
        series: {{ data_grah_general.data_grah_y | safe }}
    });
</script>
{% endif %}

{% if data_grah_services %}
<script type="text/javascript">
    Highcharts.chart('container_tickets_customers_services', {
        chart: {
            height: 800,
            type: 'column'
        },
        {% if current_month %}
        title: {
            text: 'Han sido atendidos {{ data_grah_services.total_tickets | safe }} tickets en el mes de {{ current_month }} para el cliente {{ data_grah_services.customer_name | safe }} distribuidos en los siguientes servicios.',
            align: 'center'
        },
        {% elif current_year %}
        title: {
            text: 'Han sido atendidos {{ data_grah_services.total_tickets | safe }} tickets en el año {{ current_year }} para el cliente {{ data_grah_services.customer_name | safe }} distribuidos en los siguientes servicios.',
            align: 'center'
        },
        {% else %}
        title: {
            text: 'Han sido atendidos {{ data_grah_services.total_tickets | safe }} tickets para el cliente {{ data_grah_services.customer_name | safe }} distribuidos en los siguientes servicios.',
            align: 'center'
        },
        {% endif %}
        xAxis: {
            categories: {{ data_grah_services.data_grah_x | safe }},
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Número de tickets'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.0f}</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
            pointPadding: 0.2,
            borderWidth: 0
            }
        },
        series: {{ data_grah_services.data_grah_y | safe }}
    });
</script>
{% endif %}

{% if data_grah_users %}
<script type="text/javascript">
    Highcharts.chart('container_tickets_users_customers', {
        chart: {
            type: 'column'
        },
        {% if current_month %}
        title: {
            text: 'Han sido atendidos {{ data_grah_users.total_tickets | safe }} tickets en el mes de {{ current_month }} para el cliente {{ data_grah_users.customer_name | safe }} distribuidos en los siguientes usuarios.',
            align: 'center'
        },
        {% elif current_year %}
        title: {
            text: 'Han sido atendidos {{ data_grah_users.total_tickets | safe }} tickets en el año {{ current_year }} para el cliente {{ data_grah_users.customer_name | safe }} distribuidos en los siguientes usuarios.',
            align: 'center'
        },
        {% else %}
        title: {
            text: 'Han sido atendidos {{ data_grah_users.total_tickets | safe }} tickets para el cliente {{ data_grah_users.customer_name | safe }} distribuidos en los siguientes usuarios.',
            align: 'center'
        },
        {% endif %}
        xAxis: {
            categories: {{ data_grah_users.data_grah_x | safe }},
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Número de tickets'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.0f}</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
            pointPadding: 0.2,
            borderWidth: 0
            }
        },
        series: {{ data_grah_users.data_grah_y | safe }}
    });
</script>
{% endif %}

{% if data_grah_general %}
{% if data_grah_general.dict_year_total %}
{% set data_one = data_grah_general.dict_year_total %}
{% for year in data_one %}
{% set data_grah = data_one[year] %}
<script type="text/javascript">
    Highcharts.chart('total_year_{{ year }}', {
        chart: {
            type: 'column'
        },
        {% if year == 2023 %}
        title: {
            text: 'Se han gestionado {{ data_grah.total }} en el año {{ year }}.',
            align: 'center'
        },
        {% else %}
        title: {
            text: 'Se gestionaron {{ data_grah.total }} en el año {{ year }}.',
            align: 'center'
        },
        {% endif %}
        xAxis: {
            categories: {{ data_grah.data_grah_x  | safe }},
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Número de tickets'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y}</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
            pointPadding: 0.2,
            borderWidth: 0
            }
        },
        series: {{ data_grah.data_grah_y | safe }}
    });
</script>
{% endfor %}
{% endif %}
{% endif %}

{% if data_grah_date_services %}
{% for date in data_grah_date_services %}
{% set data_grah = data_grah_date_services[date] %}
<script type="text/javascript">
    Highcharts.chart('total_date_Service{{ date }}', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Se gestionaron {{ data_grah.total }} tickets.',
            align: 'center'
        },
        xAxis: {
            categories: {{ data_grah.data_grah_x | safe }},
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Número de tickets'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y}</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
            pointPadding: 0.2,
            borderWidth: 0
            }
        },
        series: {{ data_grah.data_grah_y | safe }}
    });
</script>
{% endfor %}
{% endif %}

{% if data_grah_date_users %}
{% for date in data_grah_date_users %}
{% set data_grah = data_grah_date_users[date] %}
<script type="text/javascript">
    Highcharts.chart('total_date_Users{{ date }}', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Se gestionaron {{ data_grah.total }} tickets.',
            align: 'center'
        },
        xAxis: {
            categories: {{ data_grah.data_grah_x  | safe }},
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Número de tickets'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y}</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
            pointPadding: 0.2,
            borderWidth: 0
            }
        },
        series: {{ data_grah.data_grah_y | safe }}
    });
</script>
{% endfor %}
{% endif %}


{% endblock %}