<nav class="navbar navbar-expand" id="menubar">
	<ul class="navbar-nav mr-auto font-weight-bold">
		<li class="nav-item">
			<a href="#" id="sidebarCollapse">
				<i class="fas fa-bars"></i>
			</a>
		</li>
		{% for type_ticket in type_tickets %}
		<li id="menuTickets{{ type_ticket }}" class="nav-item">
			<a href="/tickets/{{ type_ticket }}">
				<div class="row">
					<div class="col">
						<span>{{ type_tickets[type_ticket] }}</span>
					</div>
				</div>
			</a>
		</li>
		{% endfor %}
	</ul>
</nav>