{% extends "base.html" %}

{% block content %}
{% include "tickets_customers/menu.html" %}

<div class="card">
    <div class="card-header">
        <div class="row p-4">
            <div class="col">
                {% for customer in customers %}
                <a id="btnCustomer{{ customer }}"
                    class="btn btn-sm btn-outline-primary"
                    href="/tickets_customers?year={{ current_year }}&customer={{ customer }}">
                    {{ customer }}
                </a>
                {% endfor %}
            </div>
        </div>
        {% if current_customer %}
        <div class="row p-4">
            <div class="col">
                {% for month in months %}
                <a id="btnMonth{{ month }}"
                    class="btn btn-sm btn-outline-primary"
                    href="/tickets_customers?year={{ current_year }}&customer={{ current_customer }}&month={{ month }}">
                    {{ months[month] }}
                </a>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <div>
                <figure class="highcharts-figure">
                    <div id="container_1"></div>
                </figure>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
    $("#menuTicketsCustomers").addClass("active");
    $("#menuTicketsCustomers{{ current_year }}").addClass("active");
    $("#btnCustomer{{ current_customer }}").addClass("active");
    $("#btnMonth{{ current_month }}").addClass("active");
});
</script>

<script type="text/javascript">
Highcharts.chart('container_1', {
    {% if current_month and current_customer %}
    title: {
        text: '-->{{ total_requeriments }}<-- Requerimientos realizados por el cliente "{{ current_customer }}" durante el mes de "{{ month_grah }}"',
        align: 'center'
    },
    chart: {
        width: 1100,
        height: 300,
    },
    {% elif current_customer %}
    title: {
        text: '-->{{ total_requeriments }}<-- Requerimientos realizados por el cliente "{{ current_customer }}" durante el año "{{ current_year }}"',
        align: 'center'
    },
    chart: {
        width: 1100,
        height: 300,
    },
    {% else %}
    title: {
        text: '-->{{ total_requeriments }}<-- Requerimientos realizados por los clientes durante el año {{ current_year }}',
        align: 'center'
    },
    chart: {
        width: 1100,
        height: 500,
    },
    {% endif %}
    yAxis: {
        title: {
            text: 'Número de requerimientos'
        }
    },
    xAxis: {
        accessibility: {
            rangeDescription: 'Range: 1 to {{ len_months_grah }}'
        }
    },
    legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle'
    },
    plotOptions: {
        series: {
            label: {
                connectorAllowed: false
            },
            pointStart: 1
        }
    },
    series: {{ data_grah |safe }},
    responsive: {
        rules: [{
            condition: {
                maxWidth: 500
            },
            chartOptions: {
                legend: {
                    layout: 'horizontal',
                    align: 'center',
                    verticalAlign: 'bottom'
                }
            }
        }]
    }
});
</script>
{% endblock %}