{% extends "base.html" %}

{% block content %}
{% include "analysis_qradar/index/menu.html" %}

<div class="card">
    <div class="card-header">
        {% if page.title %}
        <div class="p-3 bg-light rounded text-center">
            <h3 class="text-muted">{{ page.title }}</h3>
        </div>
        {% endif %}

        {% if customers_actives %}
        <div class="row p-1">
            <div class="col">
                {% for customer in customers_actives %}
                <a id="menuQRadarArborCustomer{{ customer }}"
                    class="btn btn-sm btn-outline-primary"
                    href="/analysis_qradar?service={{ current_service }}&customer={{ customer }}">
                    {{ customer }}
                </a>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if dates_actives %}
        <div class="row p-1">
            <div class="col">
                {% for date in dates_actives %}
                <a id="menuQRadarServiceDate{{ date[1]['date'] }}"
                    class="btn btn-sm btn-outline-primary"
                    href="/analysis_qradar?service={{ current_service }}&customer={{ current_customer }}&pos={{ date[0] }}&date={{ date[1]['date'] }}">
                    {{ date[1]["date_name"] }}
                </a>
                {% endfor %}
            </div>
        </div>
        {% endif %}

    </div>
    <div class="card-body">
        <div class="table-responsive">

            <!-- VISTA DEL TOTAL DE EVENTOS BLOQUEADOS -->
            {% if total_blocked_events %}
            <div>
                <figure class="highcharts-figure">
                    <div id="container_barras"></div>
                </figure>
            </div>
            {% endif %}
            

            <!-- VISTA DE EVENTOS BLOQUEADOS -->
            {% if data_grah_torta %}
            <div>
                <figure class="highcharts-figure">
                    <div id="container_torta"></div>
                </figure>
            </div>
           

            <div class="accordion" id="accordionArborOne">
                <div class="p-3 mt-4 mb-4 rounded text-center">
                    <h5 class="text-muted">Ver detalle</h5>
                </div>
                <div id="headingOne">
                    <p class="text-center">
                        <button 
                            class="btn btn-primary"
                            type="button" 
                            title="Ver el detalle en gráfica de torta porcentual"
                            data-toggle="collapse" 
                            data-target="#collapseOne" 
                            aria-expanded="false" 
                            aria-controls="#collapseOne">
                            Gráfica de torta porcentual
                        </button>
                    </p>
                </div>
                <div 
                    id="collapseOne" 
                    class="collapse" 
                    aria-labelledby="headingOne" 
                    data-parent="#accordionArborOne">
                    {% if data_grah_torta_percentage %}
                    <div>
                        <figure class="highcharts-figure">
                            <div id="container_torta_percentage"></div>
                        </figure>
                    </div>
                    {% endif %}
                </div>
                <div id="headingArborOne">
                    <p class="text-center">
                        <button 
                            class="btn btn-primary"
                            type="button" 
                            title="Ver el detalle en gráfica de barras"
                            data-toggle="collapse" 
                            data-target="#collapseArborOne" 
                            aria-expanded="false" 
                            aria-controls="#collapseArborOne">
                            Gráfica de barras
                        </button>
                    </p>
                </div>
                <div 
                    id="collapseArborOne" 
                    class="collapse" 
                    aria-labelledby="headingArborOne" 
                    data-parent="#accordionArborOne">
                    {% if data_grah_barras %}
                    <div>
                        <figure class="highcharts-figure">
                            <div id="container_torta_a_barras"></div>
                        </figure>
                    </div>
                    {% endif %}
                </div>
                <div id="headingArborTwo">
                    <p class="text-center">
                        <button 
                            class="btn btn-primary"
                            type="button" 
                            title="Ver el detalle en gráfica de barras porcentual"
                            data-toggle="collapse" 
                            data-target="#collapseArborTwo" 
                            aria-expanded="false" 
                            aria-controls="#collapseArborTwo">
                            Gráfica de barras porcentual
                        </button>
                    </p>
                </div>
                <div 
                    id="collapseArborTwo" 
                    class="collapse" 
                    aria-labelledby="headingArborTwo" 
                    data-parent="#accordionArborOne">
                    {% if data_grah_barras_percentage %}
                    <div>
                        <figure class="highcharts-figure">
                            <div id="container_torta_a_barras_percentage"></div>
                        </figure>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endif %}


            {% if data_grah_events_paises %}
            <div class="p-3 mt-4 mb-4 bg-light rounded text-center">
                <h3 class="text-muted">Resumen de Eventos Relevantes</h3>
            </div>
            
            {% if data_grah_events_paises.data_grah_continent %}
            <div>
                <figure class="highcharts-figure">
                    <div id="container_barras_continent"></div>
                </figure>
            </div>
            {% endif %}

            {% if data_grah_events_paises.data_grah_top_continent_pais %}
            <div>
                <figure class="highcharts-figure">
                    <div id="container_barras_comparativas"></div>
                </figure>
            </div>
            {% endif %}

            {% if data_grah_events_paises.data_grah_top_continent_pais_porcent %}
            <div>
                <figure class="highcharts-figure">
                    <div id="container_barras_comparativas_porcent"></div>
                </figure>
            </div>
            {% endif %}

            {% if data_grah_events_paises.data_grah_top_paises %}
            <div>
                <figure class="highcharts-figure">
                    <div id="container_barras"></div>
                </figure>
            </div>
            {% endif %}
            {% endif %}
                
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $("#menuQRadar").addClass("active");
        $("#menuQRadarService{{ current_service }}").addClass("active");
        $("#menuQRadarServiceDate{{ current_date }}").addClass("active");
        $("#menuQRadarArborCustomer{{ current_customer }}").addClass("active");
        
    });
</script>

{% if data_grah_events_paises %}
{% set data_grah = data_grah_events_paises.data_grah_top_paises %}
{% elif total_blocked_events %}
{% set data_grah = total_blocked_events %}
{% endif %}
{% if total_blocked_events or data_grah_events_paises %}
<script type="text/javascript">
    Highcharts.chart('container_barras', {
        chart: {
            type: 'column'
        },
        {% if data_grah_events_paises %}
            {% if current_pos == 4 %}
            title: {
                text: 'El top 10 de los países que más eventos estan generando suman un total de {{ data_grah.total }}.',
                align: 'center'
            },
            {% else %}
            title: {
                text: 'El top 10 de los países que más eventos generaron sumaron un total de {{ data_grah.total }}.',
                align: 'center'
            },
            {% endif %}
        {% elif total_blocked_events %}
            {% if current_pos == 4 %}
            title: {
                text: 'Se han recibido un total de {{ data_grah.total }} eventos de la plataforma Arbor del cliente {{ current_customer_name }}.',
                align: 'center'
            },
            {% else %}
            title: {
                text: 'Se recibieron un total de {{ data_grah.total }} eventos de la plataforma Arbor del cliente {{ current_customer_name }}.',
                align: 'center'
            },
            {% endif %}
        {% endif %}
        xAxis: {
            categories: {{ data_grah.data_grah_x | safe }},
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Número de eventos'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y}</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
            pointPadding: 0.2,
            borderWidth: 0
            }
        },
        series: {{ data_grah.data_grah_y | safe }}
    });
</script>
{% endif %}

{% if data_grah_events_paises %}
{% set data_grah = data_grah_events_paises.data_grah_continent %}
{% endif %}
{% if data_grah_events_paises %}
<script type="text/javascript">
    Highcharts.chart('container_barras_continent', {
        chart: {
            type: 'column'
        },
        {% if current_pos == 4 %}
        title: {
            text: 'Se han recibido un total de {{ data_grah.total }} eventos distribuidos en los siguientes continentes.',
            align: 'center'
        },
        {% else %}
        title: {
            text: 'Se recibieron un total de {{ data_grah.total }} eventos distribuidos en los siguientes continentes.',
            align: 'center'
        },
        {% endif %}
        xAxis: {
            categories: {{ data_grah.data_grah_x | safe }},
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Número de eventos'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y}</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
            pointPadding: 0.2,
            borderWidth: 0
            }
        },
        series: {{ data_grah.data_grah_y | safe }}
    });
</script>
{% endif %}

{% if data_grah_torta %}
<script type="text/javascript">
    Highcharts.chart('container_torta', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        {% if current_pos == 4 %}
        title: {
            text: 'Se han recibido en el mes de {{ data_grah_torta.name_date }} del año {{ data_grah_torta.year }} un total de {{ data_grah_torta.total }} eventos de la plataforma Arbor del cliente {{ current_customer_name }}.',
            align: 'center'
        },
        {% else %}
        title: {
            text: 'Se recibieron en el mes de {{ data_grah_torta.name_date }} del año {{ data_grah_torta.year }} un total de {{ data_grah_torta.total }} eventos de la plataforma Arbor del cliente {{ current_customer_name }}.',
            align: 'center'
        },
        {% endif %}
        accessibility: {
            point: {
            valueSuffix: ''
            }
        },
        tooltip: {
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y}</b></td></tr>',
            shared: true
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
            dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.y}'
                }
            }
        },
        series: {{ data_grah_torta.data_grah  | tojson }}
    });
</script>
{% endif %}

{% if data_grah_torta_percentage %}
<script type="text/javascript">
    Highcharts.chart('container_torta_percentage', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        {% if current_pos == 4 %}
        title: {
            text: 'Se han recibido en el mes de {{ data_grah_torta_percentage.name_date }} del año {{ data_grah_torta_percentage.year }} un total de {{ data_grah_torta.total }} eventos de la plataforma Arbor del cliente {{ current_customer_name }}.',
            align: 'center'
        },
        {% else %}
        title: {
            text: 'Se recibieron en el mes de {{ data_grah_torta_percentage.name_date }} del año {{ data_grah_torta_percentage.year }} un total de {{ data_grah_torta.total }} eventos de la plataforma Arbor del cliente {{ current_customer_name }}.',
            align: 'center'
        },
        {% endif %}
        accessibility: {
            point: {
            valueSuffix: ''
            }
        },
        tooltip: {
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.3f}%</b></td></tr>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
            dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.y:.3f}%'
                }
            }
        },
        series: {{ data_grah_torta_percentage.data_grah  | tojson }}
    });
</script>
{% endif %}

{% if data_grah_barras %}
<script type="text/javascript">
    Highcharts.chart('container_torta_a_barras', {
        chart: {
            type: 'column'
        },
        {% if current_pos == 4 %}
        title: {
            text: 'Se han recibido en el mes de {{ data_grah_barras.name_date }} del año {{ data_grah_barras.year }} un total de {{ data_grah_torta.total }} eventos de la plataforma Arbor del cliente {{ current_customer_name }}.',
            align: 'center'
        },
        {% else %}
        title: {
            text: 'Se recibieron en el mes de {{ data_grah_barras.name_date }} del año {{ data_grah_barras.year }} un total de {{ data_grah_torta.total }} eventos de la plataforma Arbor del cliente {{ current_customer_name }}.',
            align: 'center'
        },
        {% endif %}
        xAxis: {
            categories: {{ data_grah_barras.data_grah_x | safe }},
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Número de eventos'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y}</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.y}'
                }
            }
        },
        series: {{ data_grah_barras.data_grah_y | safe }}
    });
</script>
{% endif %}

{% if data_grah_barras_percentage %}
<script type="text/javascript">
    Highcharts.chart('container_torta_a_barras_percentage', {
        chart: {
            type: 'column'
        },
        {% if current_pos == 4 %}
        title: {
            text: 'Se han recibido en el mes de {{ data_grah_barras_percentage.name_date }} del año {{ data_grah_barras_percentage.year }} un total de {{ data_grah_torta.total }} eventos de la plataforma Arbor del cliente {{ current_customer_name }}.',
            align: 'center'
        },
        {% else %}
        title: {
            text: 'Se recibieron en el mes de {{ data_grah_barras_percentage.name_date }} del año {{ data_grah_barras_percentage.year }} un total de {{ data_grah_torta.total }} eventos de la plataforma Arbor del cliente {{ current_customer_name }}.',
            align: 'center'
        },
        {% endif %}
        xAxis: {
            categories: {{ data_grah_barras_percentage.data_grah_x | safe }},
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Porcentaje número de eventos'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.3f}%</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.3f}%'
                }
            }
        },
        series: {{ data_grah_barras_percentage.data_grah_y | safe }}
    });
</script>
{% endif %}

{% if data_grah_events_paises %}
{% set data_grah = data_grah_events_paises.data_grah_top_continent_pais %}
{% endif %}
{% if data_grah_events_paises %}
<script>
    Highcharts.chart('container_barras_comparativas', {
        chart: {
            type: 'column'
        },
        {% if current_pos == 4 %}
        title: {
            text: 'El top 10 de los países que más eventos estan generando suman un total de {{ data_grah.total }}.',
            align: 'center'
        },
        {% else %}
        title: {
            text: 'El top 10 de los países que más eventos generaron sumaron un total de {{ data_grah.total }}.',
            align: 'center'
        },
        {% endif %}
        xAxis: {
            categories: {{ data_grah.data_grah_x | safe }},
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Número de eventos'
            }
        },
        tooltip: {
            pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b><br/>',
            shared: true
        },
        series: {{ data_grah.data_grah_y | safe }}
    });
</script>
{% endif %}

{% if data_grah_events_paises %}
{% set data_grah = data_grah_events_paises.data_grah_top_continent_pais_porcent %}
{% endif %}
{% if data_grah_events_paises %}
<script>
    Highcharts.chart('container_barras_comparativas_porcent', {
        chart: {
            type: 'column'
        },
        {% if current_pos == 4 %}
        title: {
            text: 'El top 10 de los países que más eventos estan generando suman un total de {{ data_grah.total }}.',
            align: 'center'
        },
        {% else %}
        title: {
            text: 'El top 10 de los países que más eventos generaron sumaron un total de {{ data_grah.total }}.',
            align: 'center'
        },
        {% endif %}
        xAxis: {
            categories: {{ data_grah.data_grah_x | safe }},
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Porcentaje del número de eventos'
            }
        },
        tooltip: {
            pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b>({point.percentage:.1f}%)<br/>',
            shared: true
        },
        plotOptions: {
            column: {
                stacking: 'percent'
            }
        },
        series: {{ data_grah.data_grah_y | safe }}
    });
</script>
{% endif %}

{% endblock %}