{% extends "base.html" %}

{% block content %}
{% include "tickets_customers_services/menu.html" %}

<div class="card">
    <div class="card-header">
        <div class="row p-4">
            <div class="col">
                {% for customer in customers %}
                <a id="btn{{ customer }}"
                    class="btn btn-sm btn-outline-primary"
                    href="/tickets_customers/service?year={{ current_year }}&customer={{ customer }}">
                    {{ customer }}
                </a>
                {% endfor %}
            </div>
        </div>
        {% if current_customer %}
        <div class="row p-4">
            <div class="col">
                {% for month in months %}
                <a id="btn{{ month }}"
                    class="btn btn-sm btn-outline-primary"
                    href="/tickets_customers/service?year={{ current_year }}&customer={{ current_customer }}&month={{ month }}">
                    {{ months[month] }}
                </a>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <div>
                <figure class="highcharts-figure">
                    <div id="container_abajo"></div>
                </figure>
            </div>
        </div>
        {{ months }}
    </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
    $("#menuTicketsCustomersService").addClass("active");
    $("#menuTicketsCustomersService{{ current_year }}").addClass("active");
    $("#btn{{ current_customer }}").addClass("active");
    $("#btn{{ current_month }}").addClass("active");
});

Highcharts.chart('container_abajo', {
    chart: {
        width: 1200,
        height: 260,
        type: 'column'
    },
    title: {
        text: '-->{{ total_requeriments }}<-- Requerimientos realizados por el cliente "{{ current_customer }}" durante el mes de "{{ months[month_grah] }}"',
        align: 'center'
    },
    xAxis: {
        categories: {{ month_grah | safe }},
        crosshair: true
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Número de incidentes'
        }
    },
    tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
        '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
    },
    plotOptions: {
        column: {
        pointPadding: 0.2,
        borderWidth: 0
        }
    },
    series: {{ data_grah | safe }}
});
</script>
{% endblock %}