{% extends "base.html" %}

{% block content %}
{% include "otrs/index/menu.html" %}

<div class="card">
    <div class="card-header">
        {% if customers_actives %}
        <div class="row p-1">
            <div class="col">
                {% for customer in customers_actives %}
                <a id="menuCustomer{{ customer }}"
                    class="btn btn-sm btn-outline-primary"
                    href="/otrs?queue={{ current_queue }}&customer={{ customer }}">
                    {{ customer }}
                </a>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% if year_actives %}
        <div class="row p-1">
            <div class="col">
                {% for year in year_actives %}
                <a id="menuCustomerYear{{ year }}"
                    class="btn btn-sm btn-outline-primary"
                    href="/otrs?queue={{ current_queue }}&customer={{ current_customer }}&year={{ year }}">
                    {{ year }}
                </a>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% if months_actives %}
        <div class="row p-1">
            <div class="col">
                {% for month in months_actives %}
                <a id="menuCustomerMonth{{ month }}"
                    class="btn btn-sm btn-outline-primary"
                    href="/otrs?queue={{ current_queue }}&customer={{ current_customer }}&year={{ current_year }}&month={{ month }}">
                    {{ months_actives[month] }}
                </a>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <div>
                <figure class="highcharts-figure">
                    <div id="container_tickets_customers"></div>
                </figure>
            </div>
            {% if data_user %}
            <div class="p-3 mt-4 mb-4 bg-light rounded text-center">
                <h3 class="text-muted">Requerimientos Resueltos por los usuarios:</h3>
            </div>

            {% for year_user in data_user %}
            <h5 class="text-muted">Año {{ year_user }} </h5>

            <table class="table table-bordered table-hover display text-center align-middle" style="width:100%">
                <thead class="bg-light">
                    <tr>
                        <th style="width: 50px;">ID</th>
                        <th style="width: 50px;">Usuario</th>
                        <th style="width: 50px;">Total</th>
                        <th style="width: 50px;"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in data_user[year_user] %}
                    {% if user != "user_not" %}
                    <tr>
                        <td>
                            {{ user }}
                        </td>
                        <td>
                            {{ data_user[year_user][user]["user"]["name"] }}
                        </td>
                        <td>
                            {{ data_user[year_user][user]["tickets"] | length  }}
                        </td>
                        
                        <td>
                            <a
                                role="button"
                                class="btn btn-sm btn-primary"
                                href="/otrs?queue={{ current_queue }}&customer={{ current_customer }}&year_user={{ year_user }}&user={{ user }}">
                                Ver
                            </a>
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            {% if data_user[year_user]["user_not"] %}
            <h5>Usuarios NO asignados a la cola</h5>
            <table class="table table-bordered table-hover display text-center align-middle" style="width:100%">
                <thead class="bg-light">
                    <tr>
                        <th style="width: 50px;">ID</th>
                        <th style="width: 50px;">Usuario</th>
                        <th style="width: 50px;">Total</th>
                        <th style="width: 50px;"></th>
                    </tr>
                </thead>
                <tbody>
                    {% set data_user = data_user[year_user]["user_not"] %}
                    {% for user in data_user %}
                    <tr>
                        <td>
                            {{ user }}
                        </td>
                        <td>
                            {{ data_user[user]["user"]["name"] }}
                        </td>
                        <td>
                            {{ data_user[user]["tickets"] | length  }}
                        </td>
                        
                        <td>
                            <a
                                role="button"
                                class="btn btn-sm btn-primary"
                                href="/otrs?queue={{ current_queue }}&customer={{ current_customer }}&year_user={{ year_user }}&user_not={{ user }}">
                                Ver
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
            {% endfor %}
            {% endif %}
            {% if data_service %}
            <div class="p-3 mt-4 mb-4 bg-light rounded text-center">
                <h3 class="text-muted">Requerimientos por Servicio</h3>
            </div>

            {% for year_service in data_service %}
            <h5 class="text-muted">Año {{ year_service }} </h5>

            <table class="table table-bordered table-hover display text-center align-middle" style="width:100%">
                <thead class="bg-light">
                    <tr>
                        <th style="width: 50px;">ID</th>
                        <th style="width: 50px;">Servicio</th>
                        <th style="width: 50px;">Total</th>
                        <th style="width: 50px;"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for service in data_service[year_service] %}
                    <tr>
                        <td>
                            {{ service }}
                        </td>
                        <td>
                            {{ data_service[year_service][service]["service"]["name"] }}
                        </td>
                        <td>
                            {{ data_service[year_service][service]["tickets"] | length  }}
                        </td>
                        
                        <td>
                            <a
                                role="button"
                                class="btn btn-sm btn-primary"
                                href="/otrs?queue={{ current_queue }}&customer={{ current_customer }}&year_service={{ year_service }}&service={{ service }}">
                                Ver
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endfor %}
            {% endif %}
            {% if data_total %}
            <div class="p-3 mt-4 mb-4 bg-light rounded text-center">
                <h3 class="text-muted">Total de Requerimientos del cliente {{ customer_name }}</h3>
            </div>

            <table class="table table-bordered table-hover display text-center align-middle" style="width:100%">
                <thead class="bg-light">
                    <tr>
                        <th style="width: 50px;">Año</th>
                        <th style="width: 50px;">Total</th>
                        <th style="width: 50px;"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for dato in data_total %}
                    <tr>
                        <td>
                            {{ dato }}
                        </td>
                        <td>
                            {{ data_total[dato] }}
                        </td>
                        <td>
                            <a
                                role="button"
                                class="btn btn-sm btn-primary"
                                href="/otrs?queue={{ current_queue }}&customer={{ current_customer }}&year_table={{ dato }}">
                                Ver
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $("#menuOTRS").addClass("active");
        $("#menuQueue{{ current_queue }}").addClass("active");
        $("[id='menuCustomer{{ current_customer }}']").addClass("active");
        $("#menuCustomerYear{{ current_year }}").addClass("active");
        $("#menuCustomerMonth{{ current_month }}").addClass("active");
    });
</script>

<script type="text/javascript">
    Highcharts.chart('container_tickets_customers', {
        chart: {
            width: 1200,
            height: 500,
            type: 'column'
        },
        {% if year_actives and not months_actives and not current_month%}
        title: {
            text: 'Se han gestinado {{ total_tickets }} requerimientos para el cliente {{ customer_name }}.',
            align: 'center'
        },
        {% elif months_actives and not current_month %}
        title: {
            text: 'Se han gestinado {{ total_tickets }} requerimientos para el cliente {{ customer_name }} durante el año {{ current_year }}.',
            align: 'center'
        },
        {% elif current_month %}
        title: {
            text: 'Se han gestinado {{ total_tickets }} requerimientos para el cliente {{ customer_name }} durante el mes de {{ month_name }} el año {{ current_year }}.',
            align: 'center'
        },
        {% endif %}
        xAxis: {
            categories: {{ data_grah_x | safe }},
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Número de requerimientos'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.0f}</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
            pointPadding: 0.2,
            borderWidth: 0
            }
        },
        series: {{ data_grah_y | safe }}
    });
</script>
{% endblock %}