{% extends "base.html" %}

{% block content %}
{% include "portal_clientes/otrs/index/menu.html" %}

<div class="card">
    <div class="card-header">
        {% if update_date %}
        <div class="alert alert-success" role="alert">
            Última actualización de los datos  {{ update_date }}.
        </div>
        {% endif %}
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $("#menuPortalClientesOTRS").addClass("active");
        $("[id='menuPortalClientesOTRSCustomer{{ current_customer }}']").addClass("active");
    });
</script>
{% endblock %}