{% extends "base.html" %}

{% block content %}
{% include "analysis_otrs/index_users/menu.html" %}

<div class="card">
    <div class="card-header">
        <!-- Usuarios activos -->
        {% if users_actives %}
        <div class="row p-1">
            <div class="col">
                {% for user in users_actives %}
                <a id="menuUser{{ user[0] }}"
                    class="btn btn-sm btn-outline-primary"
                    href="/analysis_otrs/attend?queue={{ current_queue }}&user={{ user[0] }}">
                    {{ user[1]["user"]["name"] }}={{ user[1]["total"] }}
                </a>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if data_total_year %}
        <div class="row p-1">
            <div class="col">
                {% for year in data_total_year %}
                <a id="menuUserYear{{ year }}"
                    class="btn btn-sm btn-outline-primary"
                    href="/analysis_otrs/attend?queue={{ current_queue }}&user={{ current_user }}&year={{ year }}">
                    {{ year }}={{ data_total_year[year] }}
                </a>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if data_total_month %}
        <div class="row p-1">
            <div class="col">
                {% for month in data_total_month %}
                <a id="menuUserYearMonth{{ month }}"
                    class="btn btn-sm btn-outline-primary"
                    href="/analysis_otrs/attend?queue={{ current_queue }}&user={{ current_user }}&year={{ current_year }}&month={{ month }}">
                    {{ month }}={{ data_total_month[month] }}
                </a>
                {% endfor %}
            </div>
        </div>
        {% endif %}

    </div>
    <div class="card-body">
        <div class="table-responsive">

            <!-- VISTA POR LOS TICKETS DEL AÑO -->
            {% if data_grah_general %}
            <div>
                <figure class="highcharts-figure">
                    <div id="container_tickets_users"></div>
                </figure>
            </div>
            {% endif %}

            {% if data_grah_services %}
            <div>
                <figure class="highcharts-figure">
                    <div id="container_tickets_users_services"></div>
                </figure>
            </div>
            {% endif %}

            {% if data_grah_customers %}
            <div>
                <figure class="highcharts-figure">
                    <div id="container_tickets_users_customers"></div>
                </figure>
            </div>
            {% endif %}
            
            {% if data_total_table_year or data_total_table_month or data_total_table_day %}
            <div class="p-3 mt-4 mb-4 bg-light rounded text-center">
                <h4 class="text-muted">Detalle de los tickets de {{ data_grah_general.user_name }}</h4>
            </div>
            <table class="table table-bordered table-hover display text-center align-middle" style="width:100%">
                <thead class="bg-light">
                    <tr>
                        <th style="width: 50px;">
                            {% if data_total_table_year %}
                            Año
                            {% elif data_total_table_month %}
                            Mes
                            {% elif data_total_table_day %}
                            Día
                            {% endif %}
                        </th>
                        <th style="width: 50px;">Total</th>
                        <th style="width: 50px;"></th>
                    </tr>
                </thead>
                <tbody>
                    {% if data_total_table_year %}
                    {% set data = data_total_table_year %}
                    {% elif data_total_table_month %}
                    {% set data = data_total_table_month %}
                    {% elif data_total_table_day %}
                    {% set data = data_total_table_day %}
                    {% endif %}
                    {% for dato in data %}
                    <tr>
                        <td>
                            {{ dato }}
                        </td>
                        <td>
                            {{ data[dato] }}
                        </td>
                        <td>
                            {% if current_month %}
                            <a
                                role="button"
                                class="btn btn-sm btn-primary"
                                href="/analysis_otrs/attend?queue={{ current_queue }}&user={{ current_user }}&year={{ current_year }}&month={{ current_month }}&table_day={{ dato }}">
                                Ver
                            </a>
                            {% elif current_year %}
                            <a
                                role="button"
                                class="btn btn-sm btn-primary"
                                href="/analysis_otrs/attend?queue={{ current_queue }}&user={{ current_user }}&year={{ current_year }}&table_month={{ dato }}">
                                Ver
                            </a>
                            {% else %}
                            <a
                                role="button"
                                class="btn btn-sm btn-primary"
                                href="/analysis_otrs/attend?queue={{ current_queue }}&user={{ current_user }}&table_year={{ dato }}">
                                Ver
                            </a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $("#menuOTRSUsers").addClass("active");
        $("#menuQueue{{ current_queue }}").addClass("active");
        $("#menuUser{{ current_user }}").addClass("active");
        $("#menuUserYear{{ current_year }}").addClass("active");
        $("#menuUserYearMonth{{ current_month }}").addClass("active");
        
    });
</script>

{% if data_grah_general %}
<script type="text/javascript">
    Highcharts.chart('container_tickets_users', {
        chart: {
            type: 'column'
        },
        {% if current_month %}
        title: {
            text: 'Han sido atendidos {{ data_grah_general.total_tickets | safe }} tickets en el mes de {{ current_month }} por {{ data_grah_general.user_name | safe }} distribuidos en las siguientes colas.',
            align: 'center'
        },
        {% elif current_year %}
        title: {
            text: 'Han sido atendidos {{ data_grah_general.total_tickets | safe }} tickets en el año {{ current_year }} por {{ data_grah_general.user_name | safe }} distribuidos en las siguientes colas.',
            align: 'center'
        },
        {% elif current_user %}
        title: {
            text: 'Han sido atendidos {{ data_grah_general.total_tickets | safe }} tickets por {{ data_grah_general.user_name | safe }} distribuidos en las siguientes colas.',
            align: 'center'
        },
        {% elif current_queue == "administrators" %}
        title: {
            text: 'Han sido atendidos {{ data_grah_general.total_tickets | safe }} tickets por los Administradores de AS.',
            align: 'center'
        },
        {% elif current_queue == "analysts" %}
        title: {
            text: 'Han sido atendidos {{ data_grah_general.total_tickets | safe }} tickets por los Analistas de AS.',
            align: 'center'
        },
        {% else %}
        title: {
            text: '',
            align: 'center'
        },
        {% endif %}
        xAxis: {
            categories: {{ data_grah_general.data_grah_x | safe }},
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Número de tickets'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.0f}</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
            pointPadding: 0.2,
            borderWidth: 0
            }
        },
        series: {{ data_grah_general.data_grah_y | safe }}
    });
</script>
{% endif %}

{% if data_grah_services %}
<script type="text/javascript">
    Highcharts.chart('container_tickets_users_services', {
        chart: {
            type: 'column'
        },
        {% if current_month %}
        title: {
            text: 'Han sido atendidos {{ data_grah_services.total_tickets | safe }} tickets en el mes de {{ current_month }} por {{ data_grah_services.user_name | safe }} distribuidos en las siguientes plataformas.',
            align: 'center'
        },
        {% elif current_year %}
        title: {
            text: 'Han sido atendidos {{ data_grah_services.total_tickets | safe }} tickets en el año {{ current_year }} por {{ data_grah_services.user_name | safe }} distribuidos en las siguientes plataformas.',
            align: 'center'
        },
        {% else %}
        title: {
            text: 'Han sido atendidos {{ data_grah_services.total_tickets | safe }} tickets por {{ data_grah_services.user_name | safe }} distribuidos en las siguientes plataformas.',
            align: 'center'
        },
        {% endif %}
        xAxis: {
            categories: {{ data_grah_services.data_grah_x | safe }},
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Número de tickets'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.0f}</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
            pointPadding: 0.2,
            borderWidth: 0
            }
        },
        series: {{ data_grah_services.data_grah_y | safe }}
    });
</script>
{% endif %}

{% if data_grah_customers %}
<script type="text/javascript">
    Highcharts.chart('container_tickets_users_customers', {
        chart: {
            type: 'column'
        },
        {% if current_month %}
        title: {
            text: 'Han sido atendidos {{ data_grah_customers.total_tickets | safe }} tickets en el mes de {{ current_month }} por {{ data_grah_customers.user_name | safe }} distribuidos en los siguientes clientes.',
            align: 'center'
        },
        {% elif current_year %}
        title: {
            text: 'Han sido atendidos {{ data_grah_customers.total_tickets | safe }} tickets en el año {{ current_year }} por {{ data_grah_customers.user_name | safe }} distribuidos en los siguientes clientes.',
            align: 'center'
        },
        {% else %}
        title: {
            text: 'Han sido atendidos {{ data_grah_customers.total_tickets | safe }} tickets por {{ data_grah_customers.user_name | safe }} distribuidos en los siguientes clientes.',
            align: 'center'
        },
        {% endif %}
        xAxis: {
            categories: {{ data_grah_customers.data_grah_x | safe }},
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Número de tickets'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.0f}</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
            pointPadding: 0.2,
            borderWidth: 0
            }
        },
        series: {{ data_grah_customers.data_grah_y | safe }}
    });
</script>
{% endif %}

{% endblock %}