{% extends "base.html" %}

{% block content %}
{% include "analysis_otrs/index_users/menu.html" %}

<div class="card">
    <div class="card-header">
        {% if users_actives %}
        <div class="row p-1">
            <div class="col">
                {% for user in users_actives %}
                <a id="menuUser{{ user[0] }}"
                    class="btn btn-sm btn-outline-primary"
                    href="/analysis_otrs/attend?queue={{ current_queue }}&user={{ user[0] }}">
                    {{ user[1]["user"]["name"] }}={{ user[1]["total"] }}
                </a>
                {% endfor %}
            </div>
        </div>
        {% endif %}
       
        {% if data_total_table %}
        <div class="row p-1">
            <div class="col">
                {% for table_year in data_total_table %}
                <a id="menuUserYearTable{{ table_year }}"
                    class="btn btn-sm btn-outline-primary"
                    href="/analysis_otrs/attend?queue={{ current_queue }}&user={{ current_user }}&table_year={{ table_year }}">
                    {{ table_year }}={{ data_total_table[table_year] }}
                </a>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        
        {% if data_total_year %}
        <div class="row p-1">
            <div class="col">
                {% for year in data_total_year %}
                <a id="menuUserYear{{ year }}"
                    class="btn btn-sm btn-outline-primary"
                    href="/analysis_otrs/attend?queue={{ current_queue }}&user={{ current_user }}&year={{ year }}">
                    {{ year }}={{ data_total_year[year] }}
                </a>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        
        {% if data_total_table_month %}
        <div class="row p-1">
            <div class="col">
                {% for table_month in data_total_table_month %}
                <a id="menuUserYearMonthTable{{ table_month }}"
                    class="btn btn-sm btn-outline-primary"
                    href="/analysis_otrs/attend?queue={{ current_queue }}&user={{ current_user }}&year={{ current_year }}&table_month={{ table_month }}">
                    {{ table_month }}={{ data_total_table_month[table_month] }}
                </a>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if data_total_month %}
        <div class="row p-1">
            <div class="col">
                {% for month in data_total_month %}
                <a id="menuUserYearMonth{{ month }}"
                    class="btn btn-sm btn-outline-primary"
                    href="/analysis_otrs/attend?queue={{ current_queue }}&user={{ current_user }}&year={{ current_year }}&month={{ month }}">
                    {{ month }}={{ data_total_month[month] }}
                </a>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if data_total_table_day %}
        <div class="row p-1">
            <div class="col">
                {% for table_day in data_total_table_day %}
                <a id="menuUserYearMonthDayTable{{ table_day }}"
                    class="btn btn-sm btn-outline-primary"
                    href="/analysis_otrs/attend?queue={{ current_queue }}&user={{ current_user }}&year={{ current_year }}&month={{ current_month }}&table_day={{ table_day }}">
                    {{ table_day }}={{ data_total_table_day[table_day] }}
                </a>
                {% endfor %}
            </div>
        </div>
        {% endif %}

    </div>
    <div class="card-body">
        <div class="table-responsive">
            {% if data_tickets %}
            <table id="tablaTicketsCustomer" class="table table-bordered display text-center" style="width: 100%">
                <thead class="bg-light">
                    <tr>
                        <th style="width: 5%">ID</th>
                        <th style="width: 5%">TN</th>
                        <th style="width: 5%">Titulo</th>
                        <th style="width: 5%">Responsable</th>
                        <th style="width: 5%">Servicio</th>
                        <th style="width: 5%">Cliente</th>
                        <th style="width: 5%">Estado</th>
                        <th style="width: 5%">Tipo</th>
                        <th style="width: 5%">Prioridad</th>
                        <th style="width: 5%">Cola</th>
                        <th style="width: 5%"></th>
                    </tr>
                    <tr>
                        <th style="width: 5%">ID</th>
                        <th style="width: 5%">TN</th>
                        <th style="width: 5%">Titulo</th>
                        <th style="width: 5%">Responsable</th>
                        <th style="width: 5%">Servicio</th>
                        <th style="width: 5%">Cliente</th>
                        <th style="width: 5%">Estado</th>
                        <th style="width: 5%">Tipo</th>
                        <th style="width: 5%">Prioridad</th>
                        <th style="width: 5%">Cola</th>
                        <th style="width: 5%"></th>
                    </tr>
                </thead>
                <tbody>
                    {% set tickets = data_tickets %}
                    {% for ticket in tickets %}
                    <tr>
                        <td>
                            {{ ticket.id }}
                        </td>
                        <td>
                            {{ ticket.tn }}
                        </td>
                        <td>
                            {{ ticket.title }}
                        </td>
                        <td>
                            {{ ticket.user.full_name }}
                        </td>
                        <td>
                            {% if ticket.service %}
                            {{ ticket.service.name }}
                            {% else %}
                            {{ ticket.service_id }}
                            {% endif %}

                        </td>
                        <td>
                            {{ ticket.customer_id }}
                        </td>
                        <td>
                            {% if ticket.ticket_state %}
                            {{ ticket.ticket_state.name }}
                            {% else %}
                            {{ ticket.ticket_state_id }}
                            {% endif %}
                        </td>
                        <td>
                            {% if ticket.type %}
                            {{ ticket.type.name }}
                            {% else %}
                            {% endif %}
                        </td>
                        <td> 
                            {% if ticket.ticket_priority %}
                            {{ ticket.ticket_priority.name }}
                            {% else %}
                            {{ ticket.ticket_priority_id }}
                            {% endif %}
                        </td>
                        <td> 
                            {{ ticket.queue_id }}
                        </td>
                        <td>
                            <a class="btn btn-sm btn-outline-primary" 
                            target="_blank"
                            href="https://otrs.adaptivesecurity.cl/otrs/index.pl?Action=AgentTicketZoom;TicketID={{ ticket.id }}">
                            <i class="fa fa-search"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
    <div class="card-footer">
        <a
            role="button"
            class="btn btn-sm btn-secondary"
            href="/analysis_otrs/attend?queue={{ current_queue }}&user={{ current_user }}">
            Volver
        </a>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $("#menuOTRSUsers").addClass("active");
        $("#menuQueue{{ current_queue }}").addClass("active");
        $("#menuUser{{ current_user }}").addClass("active");
        $("#menuUserYearTable{{ current_table_year }}").addClass("active");
        $("#menuUserYear{{ current_year }}").addClass("active");
        $("#menuUserYearMonthTable{{ current_table_month }}").addClass("active");
        $("#menuUserYearMonth{{ current_month }}").addClass("active");
        $("#menuUserYearMonthDayTable{{ current_table_day }}").addClass("active");
        
        $("#tablaTicketsCustomer thead tr:eq(1) th").each(function() {
            let title = $(this).text();
            if (title != "") {
                $(this).html("<input type='text' class='form-control form-control-sm text-center column-search' />");
            }
        });
        
        var table = $("#tablaTicketsCustomer").DataTable({
            orderCellsTop: true,
            ordering: true,
            order: [],
            dom: 'Bfrtip',
            buttons: [
                'csv', 'excel', 'pdf'
            ]
        });

        $("#tablaTicketsCustomer thead").on("keyup", ".column-search", function () {
            table
            .column( $(this).parent().index() )
            .search( this.value )
            .draw();
        });
    });
</script>
{% endblock %}