{% extends "base.html" %}

{% block content %}
{% include "tickets/tickets_offenses/menu.html" %}
<div class="card">
    <div class="card-header">
        {% if list_year_offense %}
        <div class="row p-1">
            <div class="col">
                {% for year in list_year_offense %}
                <a id="btnOffenseYear{{ year }}"
                    class="btn btn-sm btn-outline-primary"
                    href="/tickets/offenses?type={{ current_offense }}&year={{ year }}">
                    {{ year }}
                </a>
                {% endfor %}
            </div>
        </div>
        {% endif%}
        {% if months_year %}
        <div class="row p-1">
            <div class="col">
                {% for month in months_year %}
                <a id="btnMonthYear{{ month }}"
                    class="btn btn-sm btn-outline-primary"
                    href="/tickets/offenses?type={{ current_offense }}&year={{ current_year }}&month_year={{ month }}">
                    {{ months_year[month][0] }}={{ months_year[month][1] }}
                </a>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        <div class="row p-1">
            <div class="col">
                {% for customer in customers %}
                <a id="btnCustomer{{ customer }}"
                    class="btn btn-sm btn-outline-primary"
                    href="/tickets/offenses?type={{ current_offense }}&year={{ current_year }}&customer={{ customer }}">
                    {{ customer }}
                </a>
                {% endfor %}
            </div>
        </div>
        {% if months_customer %}
        <div class="row p-1">
            <div class="col">
                {% for month in months_customer %}
                <a id="btnMonthCustomer{{ month }}"
                    class="btn btn-sm btn-outline-primary"
                    href="/tickets/offenses?type={{ current_offense }}&year={{ current_year }}&customer={{ current_customer }}&month={{ month }}">
                    {{ months_customer[month][0] }}={{ months_customer[month][1] }}
                </a>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <div>
                <figure class="highcharts-figure">
                    <div id="container_customers"></div>
                </figure>
            </div>
            {% if services_table %}
            <table class="table table-bordered table-hover display text-center align-middle" style="width:100%">
                <thead class="bg-light">
                    <tr>
                        <th style="width: 50px;">ID</th>
                        <th>Servicio</th>
                        <th style="width: 50px;">Total</th>
                        <th style="width: 50px;"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for service in services_table %}
                    <tr id="tr_{{ service }}">
                        <td>
                            {{ service }}
                        </td>
                        <td>
                            {{ services_table[service][0] }}
                        </td>
                        <td>
                            {{ services_table[service][1] }}
                        </td>
                        <td>
                            <a
                                role="button"
                                class="btn btn-sm btn-primary"
                                href="/tickets/offenses?type={{ current_offense }}&year={{ current_year }}&customer={{ current_customer }}&month={{ current_month_customer }}&service={{ service }}">
                                Ver
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $("#menuTicketsOffenses").addClass("active");
        $("#menuTicketsOffenses{{ current_offense }}").addClass("active");
        $("#btnOffenseYear{{ current_year }}").addClass("active");
        $("#btnMonthYear{{ current_month_year }}").addClass("active");
        $("[id='btnCustomer{{ current_customer }}']").addClass("active");
        $("#btnMonthCustomer{{ current_month_customer }}").addClass("active");
    });
</script>

</script>
<script type="text/javascript">
    Highcharts.chart('container_customers', {
        chart: {
            width: 1200,
            height: 500,
            type: 'column'
        },
        {% if current_month_year_name %}
        title: {
            text: '-->{{ total_tickets }}<-- Ofensas durante el año "{{ current_year }} en el mes de "{{ current_month_year_name }}"',
            align: 'center'
        },
        {% elif current_customer and not current_month_customer_name%}
        title: {
            text: '-->{{ total_tickets }}<-- Ofensas del cliente "{{ customer_name }}" durante el año "{{ current_year }}"',
            align: 'center'
        },
        {% elif current_month_customer_name %}
        title: {
            text: '-->{{ total_tickets }}<-- Ofensas del cliente "{{ customer_name }}" durante el mes "{{ current_month_customer_name }}"',
            align: 'center'
        },
        {% else %}
        title: {
            text: '-->{{ total_tickets }}<-- Ofensas durante el año "{{ current_year }}"',
            align: 'center'
        },
        {% endif %}
        xAxis: {
            categories: {{ data_grah_x | safe }},
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Número de requerimientos'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.0f}</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
            pointPadding: 0.2,
            borderWidth: 0
            }
        },
        series: {{ data_grah_y | safe }}
    });
</script>
{% endblock %}