{% extends "base.html" %}

{% block content %}
{% include "tickets/tickets_offenses/menu.html" %}

<div class="card">
    <div class="card-header">
        {% if list_year_offense %}
        <div class="row p-1">
            <div class="col">
                {% for year in list_year_offense %}
                <a id="btnOffenseYear{{ year }}"
                    class="btn btn-sm btn-outline-primary"
                    href="/tickets/offenses?type={{ current_offense }}&year={{ year }}">
                    {{ year }}
                </a>
                {% endfor %}
            </div>
        </div>
        {% endif%}
        {{ page.title }}
    </div>
    <div class="card-body">
        <div class="table-responsive">
            {% if services_table %}
            <table id="tablaTicketsOffenses" class="table table-bordered display text-center" style="width:100%">
                <thead class="bg-light">
                    <tr>
                        <th style="width: 50px;">ID</th>
                        <th style="width: 50px;">TN</th>
                        <th>Titulo</th>
                        <th style="width: 100px;">Responsable</th>
                        <th style="width: 50px;">Tiempo de Respuesta</th>
                        <th style="width: 50px;">Tiempo de Resolución</th>
                        <th style="width: 50px;">Estado</th>
                        <th style="width: 50px;">Tipo</th>
                        <th style="width: 50px;">Prioridad</th>
                    </tr>
                    <tr>
                        <th style="width: 50px;">ID</th>
                        <th style="width: 50px;">TN</th>
                        <th>Titulo</th>
                        <th style="width: 100px;">Responsable</th>
                        <th style="width: 50px;">Tiempo de Respuesta</th>
                        <th style="width: 50px;">Tiempo de Resolución</th>
                        <th style="width: 50px;">Estado</th>
                        <th style="width: 50px;">Tipo</th>
                        <th style="width: 50px;">Prioridad</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ticket in ticket_service_table %}
                    <tr id="tr_{{ ticket }}">
                        <td>
                            {{ ticket }}
                        </td>
                        <td>
                            {{ ticket_service_table[ticket].tn }}
                        </td>
                        <td>
                            {{ ticket_service_table[ticket].title }}
                        </td>
                        <td>
                            {{ users[ticket_service_table[ticket].user_id|string] }}

                        </td>
                        <td>
                            {{ ticket_service_table[ticket].response_time }}
                        </td>
                        <td>
                            {{ ticket_service_table[ticket].resolution_time }}
                        </td>
                        <td>
                            {{ ticket_service_table[ticket].state }}
                        </td>
                        <td>
                            {{ ticket_service_table[ticket].type }}
                        </td>
                        <td>
                            {{ ticket_service_table[ticket].ticket_priority }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
    <div class="card-footer">
        <div class="row p-1">
            <div class="col">
                {% for service_table in services_table %}
                <a id="btnCustomerService{{ service_table }}"
                    class="btn btn-sm btn-outline-primary"
                    href="/tickets/offenses?type={{ current_offense }}&year={{ current_year }}&customer={{ current_customer }}&month={{ current_month_customer }}&service={{ service_table }}">
                    {{ services_table[service_table][0] }}={{ services_table[service_table][1] }}
                </a>
                {% endfor %}
            </div>
        </div>
        <a
            role="button"
            class="btn btn-sm btn-secondary"
            href="/tickets/offenses?type={{ current_offense }}&year={{ current_year }}&customer={{ current_customer }}&month={{ current_month_customer }}">
            Volver
        </a>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $("#menuTicketsOffenses").addClass("active");
        $("#menuTicketsOffenses{{ current_offense }}").addClass("active");
        $("#btnOffenseYear{{ current_year }}").addClass("active");
        $("#btnCustomerService{{ current_service }}").addClass("active");
        
        $("#tablaTicketsOffenses thead tr:eq(1) th").each(function() {
            let title = $(this).text();
            if (title != "") {
                $(this).html("<input type='text' class='form-control form-control-sm text-center column-search' />");
            }
        });
        
        var table = $("#tablaTicketsOffenses").DataTable({
            orderCellsTop: true,
            ordering: true,
            order: [],
            dom: 'Bfrtip',
            buttons: [
                'csv', 'excel', 'pdf'
            ]
        });

        $("#tablaTicketsOffenses thead").on("keyup", ".column-search", function () {
            table
            .column( $(this).parent().index() )
            .search( this.value )
            .draw();
        });
    });
</script>
{% endblock %}