<nav class="navbar navbar-expand" id="menubar">
	<ul class="navbar-nav mr-auto font-weight-bold">
		<li class="nav-item">
			<a href="#" id="sidebarCollapse">
				<i class="fas fa-bars"></i>
			</a>
		</li>
		{% for offense_active in offenses_active %}
		<li id="menuTicketsOffenses{{ offense_active }}" class="nav-item">
			<a href="/tickets/offenses?type={{ offense_active }}">
				<div class="row">
					<div class="col">
						<span>{{ offenses_active[offense_active] }}</span>
					</div>
				</div>
			</a>
		</li>
		{% endfor %}
	</ul>
</nav>