{% extends "base.html" %}

{% block content %}
{% include "analysis_qradar/index/menu.html" %}

<div class="card">
    <div class="card-header">
        {% if page.title %}
        <div class="p-3 bg-light rounded text-center">
            <h3 class="text-muted">{{ page.title }}</h3>
        </div>
        {% endif %}

        {% if customers_actives %}
        <div class="row p-1">
            <div class="col">
                {% for customer in customers_actives %}
                <a id="menuQRadarFirepowerCustomer{{ customer }}"
                    class="btn btn-sm btn-outline-primary"
                    href="/analysis_qradar?service={{ current_service }}&customer={{ customer }}">
                    {{ customer }}
                </a>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if dates_actives %}
        <div class="row p-1">
            <div class="col">
                {% for date in dates_actives %}
                <a id="menuQRadarServiceDate{{ date[1]['date'] }}"
                    class="btn btn-sm btn-outline-primary"
                    href="/analysis_qradar?service={{ current_service }}&customer={{ current_customer }}&pos={{ date[0] }}&date={{ date[1]['date'] }}">
                    {{ date[1]["date_name"] }}
                </a>
                {% endfor %}
            </div>
        </div>
        {% endif %}

    </div>
    <div class="card-body">

        {% if data_grah %}
        <div>
            <figure class="highcharts-figure">
                <div id="container_1"></div>
            </figure>
        </div>
        {% endif %}

        {% if data_table_top_1 %}
        <div class="p-3 mt-4 mb-4 bg-light rounded text-center">
            <h4 class="text-muted">Detalle del TOP 3</h4>
        </div>
        {% set tables = [data_table_top_1, data_table_top_2, data_table_top_3] %}
        {% for table in tables %}
        {% set position = loop.index %}
        {% for clas in table %}
        <div class="p-3 mt-4 mb-4 bg-light rounded text-center">
            <h5 class="text-muted">TOP {{ position }}: {{ clas }}  </h5>
        </div>
        <div class="table-responsive">
            <table id="table_top_{{ position }}" class="table table-bordered display text-center" style="width:100%">
                <thead class="bg-light">
                    <tr>
                        <th style="width: 5%">TOP/Destino</th>
                        <th style="width: 5%">Destino/Origen</th>
                        <th style="width: 5%">TOP/Origen</th>
                        <th style="width: 5%">IP</th>
                        <th style="width: 5%">Cantidad de eventos</th>
                        <th style="width: 5%">Identificación/Riesgo</th>
                    </tr>
                    <tr>
                        <th style="width: 5%">TOP/Destino</th>
                        <th style="width: 5%">Destino/Origen</th>
                        <th style="width: 5%">TOP/Origen</th>
                        <th style="width: 5%">IP</th>
                        <th style="width: 5%">Cantidad de eventos</th>
                        <th style="width: 5%">Identificación/Riesgo</th>
                    </tr>
                </thead>
                <tbody>
                    {% for top in table[clas] %}
                    {% set interface = table[clas][top] %}
                    {% for ip_destino, idata in interface.items() %}
                    <tr>
                        <td class="align-middle">
                            <strong>{{ top }}</strong> 
                        </td>
                        <td class="align-middle">
                            <strong>Destino</strong>
                        </td>
                        <td class="align-middle">
                           
                        </td>
                        <td class="align-middle">
                            <strong>{{ ip_destino }}</strong>
                        </td>
                        <td class="align-middle">
                            <strong>{{ interface[ip_destino]["Cantidad de eventos"] }}</strong>
                         </td>
                         <td class="align-middle">
                            <strong>{{ interface[ip_destino]["Identificación/Riesgo"] }}</strong>
                         </td>
                    </tr>
                        {% for top10 in idata.ips_origen %}
                        {% set ip_origen = idata.ips_origen %}
                        {% for ip in ip_origen[top10] %}
                    <tr>
                        <td class="align-middle">
                           
                        </td> 
                        <td class="align-middle">
                           Origen
                        </td>
                        <td class="align-middle">
                            {{ top10 }}
                        </td> 
                        <td class="align-middle">
                            Origen: {{ ip }}
                        </td>
                        <td class="align-middle">
                        {{ ip_origen[top10][ip]["Cantidad de eventos"] }}
                        </td>
                        <td class="align-middle">
                        {{ ip_origen[top10][ip]["Identificación/Riesgo"] }}
                        </td>
                    </tr>
                    {% endfor %}
                    {% endfor %}
                    {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endfor %}
        {% endfor %}
        {% endif %}
    

        {% if data_table_1 %}
        <div class="p-3 mt-4 mb-4 bg-light rounded text-center">
            <h4 class="text-muted">Detalle de todo </h4>
        </div>
        {% if current_date == "2023-01-01" %}
        {% set tables = [data_table_1, data_table_2, data_table_3, data_table_4, data_table_5, data_table_6, data_table_7, data_table_8, data_table_9] %}
        {% else %}
        {% set tables = [data_table_1, data_table_2, data_table_3, data_table_4, data_table_5, data_table_6, data_table_7, data_table_8, data_table_9, data_table_10, data_table_11] %}
        {% endif %}
        {% for table in tables %}
        {% set position = loop.index %}
        {% for clas in table %}
        <div class="p-3 mt-4 mb-4 bg-light rounded text-center">
            <h5 class="text-muted">TOP {{ position }}: {{ clas }}  </h5>
        </div>
        <div class="table-responsive">
            <table id="table_{{ position }}" class="table table-bordered display text-center" style="width:100%">
                <thead class="bg-light">
                    <tr>
                        <th style="width: 5%">TOP/Destino</th>
                        <th style="width: 5%">Destino/Origen</th>
                        <th style="width: 5%">TOP/Origen</th>
                        <th style="width: 5%">IP</th>
                        <th style="width: 5%">Cantidad de eventos</th>
                        <th style="width: 5%">Identificación/Riesgo</th>
                    </tr>
                    <tr>
                        <th style="width: 5%">TOP/Destino</th>
                        <th style="width: 5%">Destino/Origen</th>
                        <th style="width: 5%">TOP/Origen</th>
                        <th style="width: 5%">IP</th>
                        <th style="width: 5%">Cantidad de eventos</th>
                        <th style="width: 5%">Identificación/Riesgo</th>
                    </tr>
                </thead>
                <tbody>
                    {% for top in table[clas] %}
                    {% set interface = table[clas][top] %}
                    {% for ip_destino, idata in interface.items() %}
                    <tr>
                        <td class="align-middle">
                            <strong>{{ top }}</strong> 
                        </td>
                        <td class="align-middle">
                            <strong>Destino</strong>
                        </td>
                        <td class="align-middle">
                           
                        </td>
                        <td class="align-middle">
                            <strong>{{ ip_destino }}</strong>
                        </td>
                        <td class="align-middle">
                            <strong>{{ interface[ip_destino]["Cantidad de eventos"] }}</strong>
                         </td>
                         <td class="align-middle">
                            <strong>{{ interface[ip_destino]["Identificación/Riesgo"] }}</strong>
                         </td>
                    </tr>
                        {% for top10 in idata.ips_origen %}
                        {% set ip_origen = idata.ips_origen %}
                        {% for ip in ip_origen[top10] %}
                    <tr>
                        <td class="align-middle">
                           
                        </td> 
                        <td class="align-middle">
                           Origen
                        </td>
                        <td class="align-middle">
                            {{ top10 }}
                        </td> 
                        <td class="align-middle">
                            Origen: {{ ip }}
                        </td>
                        <td class="align-middle">
                        {{ ip_origen[top10][ip]["Cantidad de eventos"] }}
                        </td>
                        <td class="align-middle">
                        {{ ip_origen[top10][ip]["Identificación/Riesgo"] }}
                        </td>
                    </tr>
                    {% endfor %}
                    {% endfor %}
                    {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endfor %}
        {% endfor %}
        {% endif %}
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $("#menuQRadar").addClass("active");
        $("#menuQRadarService{{ current_service }}").addClass("active");
        $("#menuQRadarServiceDate{{ current_date }}").addClass("active");
        $("#menuQRadarFirepowerCustomer{{ current_customer }}").addClass("active");
        
        $("#table_top_1 thead tr:eq(1) th").each(function() {
            let title = $(this).text();
            if (title != "") {
                $(this).html("<input type='text' class='form-control form-control-sm text-center column-search' />");
            }
        });
        
        var table = $("#table_top_1").DataTable({
            pageLength: 5,
            orderCellsTop: true,
            ordering: true,
            order: [],
            dom: 'Bfrtip',
            buttons: [
                'csv', 'excel', 'pdf'
            ]
        });

        $("#table_top_1 thead").on("keyup", ".column-search", function () {
            table
            .column( $(this).parent().index() )
            .search( this.value )
            .draw();
        });

        $("#table_top_2 thead tr:eq(1) th").each(function() {
            let title = $(this).text();
            if (title != "") {
                $(this).html("<input type='text' class='form-control form-control-sm text-center column-search' />");
            }
        });
        
        var table = $("#table_top_2").DataTable({
            pageLength: 5,
            orderCellsTop: true,
            ordering: true,
            order: [],
            dom: 'Bfrtip',
            buttons: [
                'csv', 'excel', 'pdf'
            ]
        });

        $("#table_top_2 thead").on("keyup", ".column-search", function () {
            table
            .column( $(this).parent().index() )
            .search( this.value )
            .draw();
        });

        $("#table_top_3 thead tr:eq(1) th").each(function() {
            let title = $(this).text();
            if (title != "") {
                $(this).html("<input type='text' class='form-control form-control-sm text-center column-search' />");
            }
        });
        
        var table = $("#table_top_3").DataTable({
            pageLength: 5,
            orderCellsTop: true,
            ordering: true,
            order: [],
            dom: 'Bfrtip',
            buttons: [
                'csv', 'excel', 'pdf'
            ]
        });

        $("#table_top_3 thead").on("keyup", ".column-search", function () {
            table
            .column( $(this).parent().index() )
            .search( this.value )
            .draw();
        });

        $("#table_1 thead tr:eq(1) th").each(function() {
            let title = $(this).text();
            if (title != "") {
                $(this).html("<input type='text' class='form-control form-control-sm text-center column-search' />");
            }
        });
        
        var table = $("#table_1").DataTable({
            pageLength: 5,
            orderCellsTop: true,
            ordering: true,
            order: [],
            dom: 'Bfrtip',
            buttons: [
                'csv', 'excel', 'pdf'
            ]
        });

        $("#table_1 thead").on("keyup", ".column-search", function () {
            table
            .column( $(this).parent().index() )
            .search( this.value )
            .draw();
        });


        $("#table_2 thead tr:eq(1) th").each(function() {
            let title = $(this).text();
            if (title != "") {
                $(this).html("<input type='text' class='form-control form-control-sm text-center column-search' />");
            }
        });
        
        var table = $("#table_2").DataTable({
            pageLength: 5,
            orderCellsTop: true,
            ordering: true,
            order: [],
            dom: 'Bfrtip',
            buttons: [
                'csv', 'excel', 'pdf'
            ]
        });

        $("#table_2 thead").on("keyup", ".column-search", function () {
            table
            .column( $(this).parent().index() )
            .search( this.value )
            .draw();
        });


        $("#table_3 thead tr:eq(1) th").each(function() {
            let title = $(this).text();
            if (title != "") {
                $(this).html("<input type='text' class='form-control form-control-sm text-center column-search' />");
            }
        });
        
        var table = $("#table_3").DataTable({
            pageLength: 5,
            orderCellsTop: true,
            ordering: true,
            pageLength: 5,
            order: [],
            dom: 'Bfrtip',
            buttons: [
                'csv', 'excel', 'pdf'
            ]
        });

        $("#table_3 thead").on("keyup", ".column-search", function () {
            table
            .column( $(this).parent().index() )
            .search( this.value )
            .draw();
        });

        $("#table_4 thead tr:eq(1) th").each(function() {
            let title = $(this).text();
            if (title != "") {
                $(this).html("<input type='text' class='form-control form-control-sm text-center column-search' />");
            }
        });
        
        var table = $("#table_4").DataTable({
            pageLength: 5,
            orderCellsTop: true,
            ordering: true,
            order: [],
            dom: 'Bfrtip',
            buttons: [
                'csv', 'excel', 'pdf'
            ]
        });

        $("#table_4 thead").on("keyup", ".column-search", function () {
            table
            .column( $(this).parent().index() )
            .search( this.value )
            .draw();
        });


        $("#table_5 thead tr:eq(1) th").each(function() {
            let title = $(this).text();
            if (title != "") {
                $(this).html("<input type='text' class='form-control form-control-sm text-center column-search' />");
            }
        });
        
        var table = $("#table_5").DataTable({
            pageLength: 5,
            orderCellsTop: true,
            ordering: true,
            order: [],
            dom: 'Bfrtip',
            buttons: [
                'csv', 'excel', 'pdf'
            ]
        });

        $("#table_5 thead").on("keyup", ".column-search", function () {
            table
            .column( $(this).parent().index() )
            .search( this.value )
            .draw();
        });

        $("#table_6 thead tr:eq(1) th").each(function() {
            let title = $(this).text();
            if (title != "") {
                $(this).html("<input type='text' class='form-control form-control-sm text-center column-search' />");
            }
        });
        
        var table = $("#table_6").DataTable({
            pageLength: 5,
            orderCellsTop: true,
            ordering: true,
            order: [],
            dom: 'Bfrtip',
            buttons: [
                'csv', 'excel', 'pdf'
            ]
        });

        $("#table_6 thead").on("keyup", ".column-search", function () {
            table
            .column( $(this).parent().index() )
            .search( this.value )
            .draw();
        });

        $("#table_7 thead tr:eq(1) th").each(function() {
            let title = $(this).text();
            if (title != "") {
                $(this).html("<input type='text' class='form-control form-control-sm text-center column-search' />");
            }
        });
        
        var table = $("#table_7").DataTable({
            pageLength: 5,
            orderCellsTop: true,
            ordering: true,
            order: [],
            dom: 'Bfrtip',
            buttons: [
                'csv', 'excel', 'pdf'
            ]
        });

        $("#table_7 thead").on("keyup", ".column-search", function () {
            table
            .column( $(this).parent().index() )
            .search( this.value )
            .draw();
        });

        $("#table_8 thead tr:eq(1) th").each(function() {
            let title = $(this).text();
            if (title != "") {
                $(this).html("<input type='text' class='form-control form-control-sm text-center column-search' />");
            }
        });
        
        var table = $("#table_8").DataTable({
            pageLength: 5,
            orderCellsTop: true,
            ordering: true,
            order: [],
            dom: 'Bfrtip',
            buttons: [
                'csv', 'excel', 'pdf'
            ]
        });

        $("#table_8 thead").on("keyup", ".column-search", function () {
            table
            .column( $(this).parent().index() )
            .search( this.value )
            .draw();
        });

        $("#table_9 thead tr:eq(1) th").each(function() {
            let title = $(this).text();
            if (title != "") {
                $(this).html("<input type='text' class='form-control form-control-sm text-center column-search' />");
            }
        });
        
        var table = $("#table_9").DataTable({
            pageLength: 5,
            orderCellsTop: true,
            ordering: true,
            order: [],
            dom: 'Bfrtip',
            buttons: [
                'csv', 'excel', 'pdf'
            ]
        });

        $("#table_9 thead").on("keyup", ".column-search", function () {
            table
            .column( $(this).parent().index() )
            .search( this.value )
            .draw();
        });

        $("#table_10 thead tr:eq(1) th").each(function() {
            let title = $(this).text();
            if (title != "") {
                $(this).html("<input type='text' class='form-control form-control-sm text-center column-search' />");
            }
        });
        
        var table = $("#table_10").DataTable({
            pageLength: 5,
            orderCellsTop: true,
            ordering: true,
            order: [],
            dom: 'Bfrtip',
            buttons: [
                'csv', 'excel', 'pdf'
            ]
        });

        $("#table_10 thead").on("keyup", ".column-search", function () {
            table
            .column( $(this).parent().index() )
            .search( this.value )
            .draw();
        });

        $("#table_11 thead tr:eq(1) th").each(function() {
            let title = $(this).text();
            if (title != "") {
                $(this).html("<input type='text' class='form-control form-control-sm text-center column-search' />");
            }
        });
        
        var table = $("#table_11").DataTable({
            pageLength: 5,
            orderCellsTop: true,
            ordering: true,
            order: [],
            dom: 'Bfrtip',
            buttons: [
                'csv', 'excel', 'pdf'
            ]
        });

        $("#table_11 thead").on("keyup", ".column-search", function () {
            table
            .column( $(this).parent().index() )
            .search( this.value )
            .draw();
        });

        
    });

</script>

{% if data_grah %}
<script type="text/javascript">
    Highcharts.chart('container_1', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'El total de eventos del mes {{ name_date }} del año {{ year }} fue de {{ data_grah.total }}.',
            align: 'center'
        },
        xAxis: {
            categories: {{ data_grah.data_grah_x  | safe }},
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Número de eventos'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y}</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
            pointPadding: 0.2,
            borderWidth: 0
            }
        },
        series: {{ data_grah.data_grah_y | safe }}
    });
</script>
{% endif %}

{% endblock %}